<Files "Gutenberg.pdf">
		  AuthType Basic
		  AuthName "Einloggen, um Datei zu betrachten"
		  AuthUserFile /etc/httpd/.htpasswd
		  Require user gutenberg
</Files>
<Files ".htaccess">
	AuthType Basic
	AuthName "Einloggen, um Datei zu betrachten"
	AuthUserFile /etc/httpd/.htpasswd
	Require user admin
</Files>
